body {
    background-color: #F6F4F3;
    margin: 0px;
    margin-left: 10px;
    color: #0E0806;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'EB Garamond', serif;
}

a {
    text-decoration: none;
    color: #0E0806;
}

.enemies {
    color: #A64253;
}

.paintings {
    img {
        width: 100%;
    }
}

#cioran:hover {
    height: 0px;
}

a:visited {
    color: #0E0806;
}

a:hover {
    color: #00A5E0;
}


#abyss {
    background-color: #0E0806;
    height: 1400px;
    width: 100%;
    margin-left: -10px;
    margin-right: 0px;
    border-right: solid 10px #0E0806;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        display: block;
        height: 100px;
        opacity: 2%;
    }
}

#shop {
    font-size: 72px;
    display: block;
    font-family: 'EB Garamond', serif;
    margin-left: auto;
    text-align: center;
    margin-top: 50px;
}

